* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2,
h3 {
  text-align: center;
  text-shadow: 0 0 10px #76558b;
}

/* Header */

.navigation:hover{
    color: #76558b;
    transition-property: color;
    transition-duration: 2s;
}

/* Les suspects */

.personnes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 72px 96px;
  border: 2px solid #76558b;
  border-radius: 24px;
  box-shadow: 0 0 25px #76558b;
}

.description-suspects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  padding: 96px;
}

.description{
  line-height: 40px;
}

/* Les armes */

.cartes-les-armes {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 48px;
}

.voir-cartes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  background-color: transparent;
  color: #f5f5f5;
  padding: 48px;
  border-radius: 24px;
  box-shadow: none;
  margin: 24px auto;
  border: 2px solid #76558b;
  box-shadow: 0 0 25px #76558b;
}

.voir-cartes:hover {
  box-shadow: 0 0 25px #76558b;
}

/*Les lieux : flip-card*/

.card-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 24px;
  align-items: center;
  padding: 40px;
  margin-top: 48px;
  min-height: 70vh;
  perspective: 1000px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 24px;
  box-shadow: 0 0 50px #76558b;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card-image{
  background-color: #f5f5f5;
}

.card:hover .card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #f5f5f5;
}

.card-desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: #4f3a5e;
  opacity: 0;
  color: #f5f5f5;
  font-size: 24px;
}

.card:hover .card-desc {
  opacity: 1;
  transition-duration: 1s;
  transform: rotateY(360deg);
}

.lieux {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  padding: 0 48px;
  line-height: 40px;
}
